/* Navbar.css */

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background: linear-gradient(to bottom right, #6b6760, #5c5342);
    padding: 10px 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin-right: 30px;
  }
  
  
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar .active {
    font-weight: bold;
    color: #07b966; /* Highlight color */
  }
  
  .navbar a:hover {
    color: #f39c12 !important;
  }
  
  .navbar li {
    margin-right: 30px;
  }
  
  .navbar li:last-child {
    margin-right: 0; 
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar .active {
    font-weight: bold;
    color: #07b966; 
  }
  
  .navbar a:hover {
    color: #f39c12!important;
  }
  